
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

.main{
  /* padding: 10px 30px; */
  display: flex;
  flex-direction: column;

  
}
.foodie_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #feefe8;
  margin:0px 5vw;
  margin-top: 2px;
  padding:10px;
  width:90vw;
  border-radius: 4px;

}

.logo_heading{
    font-size: 22px;
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

.nav_style{
  list-style: none;
  display: flex;
  gap:20px;
}

.search_input{
  height: 70px;
  width:400px;
  font-size: 25px;
  margin:10px auto;
}
.navbar_section{
    margin: auto;
}

ion-icon {
  font-size: 30px;
}

.social_contact{
    display:flex;
    justify-content: space-between;
    width:120px;
    margin: auto 20px;
}

.header_hr{
    
  border-top: 0.5px solid black;
  margin-top: 3px;
  width:100%;
  transform: scaleY(0.1);
  
  

}